*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
}

p,
h2,
h3,
h5 {
  margin: 0;
}

header {
  background: #2e323f;
  padding: 1em 0;
  text-align: center;
  height: 80px;
}

.header--expand {
  height: 290px;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* added for nav-toggle positioning */
  position: relative;
}

.nav {
  visibility: hidden;
  height: 0;
  position: relative;
  font-size: 1rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__list--secondary {
  margin-top: 2em;
}

.nav__item {
  margin-top: 0.75em;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.button {
  padding: 0.25em 0.75em;
  background-color: #a59678;
  color: #fff;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero {
  background-color: #3b4050;
  min-height: calc(100vh - 80px);
  padding: 13vh 0;
}

.hero--shrink {
  height: calc(100vh - 290px);
}

.hero__title {
  margin-bottom: 1em;
}

.hero__title--one {
  color: #fff;
}

.hero__title--two {
  color: #a59678;
}

.hero__description {
  color: #fff;
  font-size: 1.35rem;
  font-family: 'Montserrat', sans-serif;
}

.hero__description > p {
  margin-bottom: 1em;
}

.sales {
  background: #ecedf1;
  padding: 5vh 0;
}

.sales-point {
  margin-bottom: 5vh;
  text-align: center;
}

.sales-point__title {
  font-family: 'Oswald', sans-serif;
  color: #a59678;
  margin-bottom: 0.75em;
}

.sales-point__description {
  font-family: 'Montserrat', sans-serif;
}

main {
  padding: 5vh 0;
}

.main__content {
  font-family: 'Montserrat', sans-serif;
}

.main__content__title {
  font-family: 'Oswald', sans-serif;
  color: #a59678;
  margin-bottom: 0.75em;
}

.main__content__img {
  max-width: 100%;
  margin: 5vh 0;
}

.main__step {
  background-color: #2e323f;
  color: white;
  text-align: center;
  margin: 5vh 0;
  padding: 5vh 3vh;
}

.main__step__title {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0.75em;
  font-size: 1.5rem;
}

.main__step__content {
  font-family: 'Montserrat', sans-serif;
}

footer {
  background-color: #2e323f;
  color: #fff;
  padding: 5vh 0;
}

.footer__primary {
  margin-bottom: 6vh;
  font-size: 1.7rem;
  text-align: center;
}

.footer__secondary__about {
  margin-bottom: 5vh;
}

.footer__section + .footer__section {
  margin-top: 3vh;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__title {
  margin-bottom: 1.5rem;
}

.footer__list > li {
  margin-bottom: 1.5rem;
}

.footer__title {
  color: #a59678;
  font-family: 'Oswald', sans-serif;
}

.footer__content {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 500px) {
  .footer__secondary__sections {
    display: flex;
    justify-content: space-between;
  }

  .footer__section {
    width: 33%;
  }

  .footer__section + .footer__section {
    margin-top: 0;
  }
}

@media (min-width: 700px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    height: auto;
    position: relative;
    display: flex;
  }
  .nav__list {
    display: flex;
  }
  .nav__list--secondary {
    margin-left: 1em;
    margin-top: 0;
  }
  .nav__item {
    margin-left: 2em;
    margin-top: 0;
  }

  .hero {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__title {
    width: 45%;
    font-size: 2.5rem;
    line-height: 1;
  }

  .hero__description {
    width: 45%;
    font-size: 1.25rem;
  }

  .sales {
    padding: 10vh 0;
  }

  .sales-points {
    display: flex;
    justify-content: space-between;
  }

  .sales-point {
    width: 30%;
  }

  .main__steps {
    display: flex;
    justify-content: space-between;
  }

  .main__step {
    width: 30%;
  }
}

@media (min-width: 900px) {
  footer {
    font-size: 1rem;
  }

  .footer__title {
    font-size: 1.3125rem;
  }

  .footer__secondary {
    display: flex;
    justify-content: space-between;
  }

  .footer__secondary__about {
    width: 40%;
  }

  .footer__secondary__sections {
    width: 50%;
  }
}

@media (min-width: 1100px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 1;
  }

  .hero__description {
    font-size: 1.5rem;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  .sales-point__title {
    font-size: 1.875rem;
  }

  .sales-point__description {
    font-size: 1.125rem;
  }

  .main__content__title {
    font-size: 2rem;
  }

  .main__content__description {
    font-size: 1.3125rem;
  }

  .main__steps {
    display: block;
    align-content: flex-start;
  }

  .main__step {
    width: 100%;
    margin-top: 0;
  }

  .main__content {
    width: 60%;
  }

  .main__steps {
    width: 30%;
    height: 60vh;
  }

  .main__step__title {
    font-size: 1.875rem;
  }

  .main__step__content {
    font-size: 1.125rem;
  }
}
